@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-paper text-coal font-sans antialiased;
    /* The SVG noise texture overlays the screen */
  }

  body::before {
    content: '';
    @apply fixed inset-0 pointer-events-none z-[-1] opacity-50 mix-blend-multiply bg-paper-noise;
  }
}

@layer utilities {
  .writing-mode-vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}

/* Hide default cursor on devices that support hover (desktop) */
@media (pointer: fine) {

  /* body,
  a,
  button,
  [role="button"] {
    cursor: none !important;
  } */
}